# exclude all
/*

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle

# Other Files.
!LICENSE.txt
!README.md

# Include git important files
!.gitmodules
!.gitignore

# Include Important Folders
!modules/
